---
import { Image } from "astro:assets";
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm s7ev3n.",
	title: "About Me",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hi, I’m s7ev3n. It is nice to meet you. </p>
		<p>Here are some bullet points about me:</p>
		<ul class="list-inside list-disc">
			<li>I am a researcher with interest on 3D computer vision, autonomous driving.</li>
		</ul>
	</div>
</PageLayout>
