---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm s7ev3n.",
	title: "About me",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>Hi, I’m s7ev3n. It is nice to meet you. </p>
		<p>Here are some bullet points about me:</p>
		<ul class="list-inside list-disc">
			<li>I am a researcher with interest on 3D computer vision, autonomous driving.</li>
		</ul>
	</div>
</PageLayout>
